<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <% include partials/pageStyles %>
  <link rel='stylesheet' href='/stylesheets/settings.css' />

<body>
<% include partials/navbar %>

<main>
  <div class="container">
    <div class="settings-wrapper">
      <div class="settings-box">
        <div class="row">
          <div class="col">
            <h2 class="display-4"><%= user_name %> Settings</h2>
            <form action="/settings" method="POST">
              <fieldset>

                <div class="form-group mt-5">
                  <h3 class="mb-3">User Settings</h3>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" class="form-control mb-2" value=<%= settings.user.email %> required autofocus>
                  </div>
                  <div class="form-group">
                    <label for="code_device">Secondary Auth Device</label>
                    <input type="text" name="code_device" id="code_device" class="form-control" value=<%= settings.user.code_device %> required>
                  </div>
                  <div class="form-group">
                    <label for="permanent_code">Authentication Code</label>
                    <input type="text" name="permanent_code" id="permanent_code" class="form-control" value=<%= settings.user.permanent_code %> required>
                  </div>
                </div>


                <div class="form-group mt-5">
                <h3 class="mb-3">History Settings</h3>

                <div class="form-group">
                  <div class="form-group">
                    <label for="local_count">Deployments Saved Locally</label>
                    <input type="number" name="local_count" id="local_count" class="form-control" value=<%= settings.history.local_count%> required>
                  </div>
                  
                  <div class="form-group">
                    <label for="local_format">Deployment Save Format</label>
                    <input type="text" name="local_format" id="local_format" class="form-control" value=<%= settings.history.local_format %> required>
                  </div>
                  
                  <div class="form-group">
                    <label for="storage_location">Deployment Save Location</label>
                    <input type="text" name="storage_location" id="storage_location" class="form-control" value=<%= settings.history.storage_location %> required>
                  </div>

                  <div class="form-group">
                    <label for="download_directory">Download Location</label>
                    <input type="text" name="download_directory" id="download_directory" class="form-control" value=<%= settings.history.download_directory %> required>
                  </div>
                </div>
              </div>
                

                <div class="form-group mt-5">
                  <h3 class="mb-3">System Settings</h3>

                  <div class="form-group">
                    <div class="form-group">
                    <label for="time_zone">Time Zone</label>
                    <select class="form-control" name="time_zone">
                      <option timeZoneId="1" gmtAdjustment="GMT-12:00" useDaylightTime="0" value="-12"<% if (settings.system.time_zone == -12) { %> selected<% } %>>(GMT-12:00) International Date Line West</option>
                      <option timeZoneId="2" gmtAdjustment="GMT-11:00" useDaylightTime="0" value="-11"<% if (settings.system.time_zone == -11) { %> selected<% } %>>(GMT-11:00) Midway Island, Samoa</option>
                      <option timeZoneId="3" gmtAdjustment="GMT-10:00" useDaylightTime="0" value="-10"<% if (settings.system.time_zone == -10) { %> selected<% } %>>(GMT-10:00) Hawaii</option>
                      <option timeZoneId="4" gmtAdjustment="GMT-09:00" useDaylightTime="1" value="-9"<% if (settings.system.time_zone == -9) { %> selected<% } %>>(GMT-09:00) Alaska</option>
                      <option timeZoneId="5" gmtAdjustment="GMT-08:00" useDaylightTime="1" value="-8"<% if (settings.system.time_zone == -8) { %> selected<% } %>>(GMT-08:00) Pacific Time (US & Canada)</option>
                      <option timeZoneId="9" gmtAdjustment="GMT-07:00" useDaylightTime="1" value="-7"<% if (settings.system.time_zone == -7) { %> selected<% } %>>(GMT-07:00) Mountain Time (US & Canada)</option>
                      <option timeZoneId="11" gmtAdjustment="GMT-06:00" useDaylightTime="1" value="-6"<% if (settings.system.time_zone == -6) { %> selected<% } %>>(GMT-06:00) Central Time (US & Canada)</option>
                      <option timeZoneId="15" gmtAdjustment="GMT-05:00" useDaylightTime="1" value="-5"<% if (settings.system.time_zone == -5) { %> selected<% } %>>(GMT-05:00) Eastern Time (US & Canada)</option>
                      <option timeZoneId="17" gmtAdjustment="GMT-04:00" useDaylightTime="1" value="-4"<% if (settings.system.time_zone == -4) { %> selected<% } %>>(GMT-04:00) Atlantic Time (Canada)</option>
                      <option timeZoneId="22" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Brasilia</option>
                      <option timeZoneId="24" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3"<% if (settings.system.time_zone == -3) { %> selected<% } %>>(GMT-03:00) Greenland</option>
                      <option timeZoneId="25" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">(GMT-03:00) Montevideo</option>
                      <option timeZoneId="26" gmtAdjustment="GMT-02:00" useDaylightTime="1" value="-2"<% if (settings.system.time_zone == -2) { %> selected<% } %>>(GMT-02:00) Mid-Atlantic</option>
                      <option timeZoneId="27" gmtAdjustment="GMT-01:00" useDaylightTime="0" value="-1"<% if (settings.system.time_zone == -1) { %> selected<% } %>>(GMT-01:00) Cape Verde Is.</option>
                      <option timeZoneId="30" gmtAdjustment="GMT+00:00" useDaylightTime="1" value="0"<% if (settings.system.time_zone == 0) { %> selected<% } %>>(GMT+00:00) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</option>
                      <option timeZoneId="33" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1"<% if (settings.system.time_zone == 1) { %> selected<% } %>>(GMT+01:00) Brussels, Copenhagen, Madrid, Paris</option>
                      <option timeZoneId="37" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2"<% if (settings.system.time_zone == 2) { %> selected<% } %>>(GMT+02:00) Athens, Bucharest, Istanbul</option>
                      <option timeZoneId="42" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">(GMT+02:00) Jerusalem</option>
                      <option timeZoneId="45" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3"<% if (settings.system.time_zone == 3) { %> selected<% } %>>(GMT+03:00) Kuwait, Riyadh, Baghdad</option>
                      <option timeZoneId="46" gmtAdjustment="GMT+03:00" useDaylightTime="1" value="3">(GMT+03:00) Moscow, St. Petersburg, Volgograd</option>
                      <option timeZoneId="50" gmtAdjustment="GMT+04:00" useDaylightTime="0" value="4"<% if (settings.system.time_zone == 4) { %> selected<% } %>>(GMT+04:00) Abu Dhabi, Muscat</option>
                      <option timeZoneId="55" gmtAdjustment="GMT+05:00" useDaylightTime="0" value="5"<% if (settings.system.time_zone == 5) { %> selected<% } %>>(GMT+05:00) Islamabad, Karachi, Tashkent</option>
                      <option timeZoneId="59" gmtAdjustment="GMT+06:00" useDaylightTime="1" value="6"<% if (settings.system.time_zone == 6) { %> selected<% } %>>(GMT+06:00) Almaty, Novosibirsk</option>
                      <option timeZoneId="62" gmtAdjustment="GMT+07:00" useDaylightTime="0" value="7"<% if (settings.system.time_zone == 7) { %> selected<% } %>>(GMT+07:00) Bangkok, Hanoi, Jakarta</option>
                      <option timeZoneId="64" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8"<% if (settings.system.time_zone == 8) { %> selected<% } %>>(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi</option>
                      <option timeZoneId="69" gmtAdjustment="GMT+09:00" useDaylightTime="0" value="9"<% if (settings.system.time_zone == 9) { %> selected<% } %>>(GMT+09:00) Osaka, Sapporo, Tokyo</option>
                      <option timeZoneId="74" gmtAdjustment="GMT+10:00" useDaylightTime="0" value="10"<% if (settings.system.time_zone == 10) { %> selected<% } %>>(GMT+10:00) Brisbane</option>
                      <option timeZoneId="75" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">(GMT+10:00) Canberra, Melbourne, Sydney</option>
                      <option timeZoneId="79" gmtAdjustment="GMT+11:00" useDaylightTime="1" value="11"<% if (settings.system.time_zone == 11) { %> selected<% } %>>(GMT+11:00) Magadan, Solomon Is., New Caledonia</option>
                      <option timeZoneId="80" gmtAdjustment="GMT+12:00" useDaylightTime="1" value="12"<% if (settings.system.time_zone == 12) { %> selected<% } %>>(GMT+12:00) Auckland, Wellington</option>
                      <option timeZoneId="81" gmtAdjustment="GMT+12:00" useDaylightTime="0" value="12">(GMT+12:00) Fiji, Kamchatka, Marshall Is.</option>
                      <option timeZoneId="82" gmtAdjustment="GMT+13:00" useDaylightTime="0" value="13"<% if (settings.system.time_zone == 13) { %> selected<% } %>>(GMT+13:00) Nuku'alofa</option>
                    </select>
                  </div>
    
                  <div class="form-group mt-3">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="updated_enabled" name="updated_enabled" <%if (settings.system.updates_enabled == true) { %> checked <% } %>>
                      <label class="form-check-label" for="updated_enabled">Enable Periodic Automatic Updates</label>
                    </div>
    
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="localization_enabled" name="localization_enabled" <%if (settings.system.localization_enabled == true) { %> checked <% } %>>
                      <label class="form-check-label" for="localization_enabled">Location On</label>
                    </div>
                  </div>
                </div>
                

                <div class="form-group mt-5">
                  <h3 class="mb-3">Nanite Settings</h3>
                  <div class="form-group">
                    <label for="my_drivers">My Drivers</label>
                    <select class="form-control" id="my_drivers" name="my_drivers">
                      <% Object.keys(settings.nanite.my_drivers).forEach(function(d) { %>
                        <option value=<%= settings.nanite.my_drivers[d] %>> <%= settings.nanite.my_drivers[d] %> </option>
                      <% }); %>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="my_algos">My Algos</label>
                    <select class="form-control" id="my_algos" name="my_algos">
                      <% Object.keys(settings.nanite.my_algos).forEach(function(a) { %>
                        <option value=<%= settings.nanite.my_algos[a] %>> <%= settings.nanite.my_algos[a] %> </option>
                      <% }); %>
                    </select>
                  </div>
    
                  <div class="form-group">
                    <label for="driver_storage">Driver Location</label>
                    <input type="text" class="form-control" id="driver_storage" name="driver_storage" value=<%= settings.nanite.driver_storage %> required>
                  </div>
                </div>


                <div class="form-group mt-5">
                  <h3 class="mb-3">Mapping Settings</h3>

                  <div class="form-group">
                    <div class="form-check-inline">
                      <input class="form-check-input" type="checkbox" id="gpu" name="gpu" <%if (settings.mapping.gpu == true) { %> checked <% } %>>
                      <label class="form-check-label" for="gpu">GPU</label>
                    </div>

                    <div class="form-check-inline">
                      <input class="form-check-input" type="checkbox" id="color" name="color" <%if (settings.mapping.color == true) { %> checked <% } %>>
                      <label class="form-check-label" for="color">Color</label>
                    </div>
                  </div>
    
                  <div class="form-group">
                    <label for="quality">Quality</label>
                    <select class="form-control" id="quality" name="quality">
                      <option value="low" <%if (settings.mapping.quality == 'low') { %> selected <% } %>>Low</option>
                      <option value="medium" <%if (settings.mapping.quality == 'medium') { %> selected <% } %>>Medium</option>
                      <option value="high" <%if (settings.mapping.quality == 'high') { %> selected <% } %>>High</option>
                    </select>
                  </div>
                </div>


                <div class="form-group mt-5 mb-5">
                  <button class="btn btn-lg btn-primary btn-block" id="update" type="submit">Update</button>
                </div>

              </fieldset>
            </form>
          </div>

        </div>
      </div>
    </div>
  </main>

  
  <% include partials/pageScripts %>
</body>
</html>