<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <% include partials/pageStyles %>

<body>
<% include partials/navbar %>

<div class="container">
  <div class="settings-wrapper">
    <div class="settings-box">
      <div class="row">
        <h2><%= user_name %> Settings</h2>
          <form action="/settings" method="POST">
            <fieldset>
              <div class="form-group mt-5">
                <h3>User Settings</h3>
              </div>
              <div class="form-group">
                <legend>Email</legend>
                <input type="text" name="email" class="form-control mb-2" value=<%= settings.user.email %> required autofocus>
              </div>
              <div class="form-group">
                <legend>Secondary Auth Device</legend>
                <input type="text" name="code_device" class="form-control" value=<%= settings.user.code_device %> required>
              </div>
              <div class="form-group">
                <legend>Authentication Code</legend>
                <input type="text" name="permanent_code" class="form-control" value=<%= settings.user.permanent_code %> required>
              </div>

              <div class="form-group mt-5">
                <h3>History Settings</h3>
              </div>
              <div class="form-group">
                <legend>Deployments Saved Locally</legend>
                <input type="number" name="local_count" class="form-control" value=<%= settings.history.local_count%> required>
              </div>
              <div class="form-group">
                <legend>Deployment Save Format</legend>
                <input type="text" name="local_format" class="form-control" value=<%= settings.history.local_format %> required>
              </div>
              <div class="form-group">
                <legend>Deployment Save Location</legend>
                <input type="text" name="storage_location" class="form-control" value=<%= settings.history.storage_location %> required>
              </div>
              <div class="form-group">
                <legend>Download Location</legend>
                <input type="text" name="download_location" class="form-control" value=<%= settings.history.download_directory %> required>
              </div>

              <div class="form-group mt-5">
                <h3>System Settings</h3>
              </div>
              <div class="form-group">
                <legend>Time Zone</legend>
                <br />
                <input type="range" min="-11" max="14" name="time_zone" class="form-control" value=<%= settings.history.local_count %> required>
              </div>
              <div class="form-group">
                <legend>Enable Periodic Automatic Updates</legend>
                <input type="checkbox" name="updates_enabled" class="form-control" <%if (settings.system.updates_enabled == true) { %> checked <% } %> required>
              </div>
              <div class="form-group">
                <legend>Location On</legend>
                <input type="checkbox" name="localization_enabled" class="form-control" <%if (settings.system.localization_enabled == true) { %> checked <% } %> required>
              </div>

              <div class="form-group mt-5">
                <h3>Nanite Settings</h3>
              </div>
              <div class="form-group">
                <legend>My Drivers</legend>
                <input type="text" name="my_drivers" class="form-control" value=<%= settings.nanite.my_drivers %> required>
              </div>
              <div>
                <legend>My Drivers</legend>
                <select id="my-drivers-select">
                  <% var driver_options = settings.nanite.my_drivers;
                  for ( var i = 0; i < driver_options.length; i++ ) {
                    var selected = ( config[0].volume == i ) ? "selected" : "";
                  %><option value=<%= driver_options[ i ] %> <%= selected %>><%= i %></option><%
                  }
                  %>
                </select>
              </div>
              <div class="form-group">
                <legend>My Algos</legend>
                <input type="text" name="my_algos" class="form-control" value=<%= settings.nanite.my_algos %> required>
              </div>
              <div class="form-group">
                <legend>Driver Location</legend>
                <input type="text" name="driver_storage" class="form-control" value=<%= settings.nanite.driver_storage %> required>
              </div>

              <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" id="update" type="submit">Update</button>
              </div>

            </fieldset>
          </form>
      </div>
    </div>
  </div>

  <% include partials/pageScripts %>
</body>
</html>